<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tweeter - Sign Up</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="../vendor/normalize-4.1.1.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="../styles/css/style.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="../vendor/jquery-2.2.3.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/top-navigation.js"></script>
    <script type="text/javascript" src="../scripts/signup-jquery.js"></script>

  </head>
  <body>
    <nav id="nav-bar">
      <div id="nav-bar-header">
        <img class="logo" src="../images/bird.png">
        <span class="header">Tweeter</span>
      </div>
    </nav>
    <main class="signup-container">
        <section class="signup-div">
          <h2>Sign Up</h2>
          <form id="signup-form" action="/signup" method="POST">
            <h3>First Name:</h3>
            <input class="signup-field" type="text" name="text" placeholder="Please enter your first name..."></input>
            <h3>Last Name:</h3>
            <input class="signup-field" type="text" name="text" placeholder="Please enter your last name..."></input>
            <h3>Username:</h3>
            <input class="signup-field" type="text" name="text" placeholder="Please enter your desired username..."></input>
            <h3>Password:</h3>
            <input class="signup-field" name="text" placeholder="Please enter a password..."></input>
          </form>
          <div class="signup-buttons-container">
            <div>
              <button form="signup-form" id="signup">Sign Up</button>
            </div>
            <div>
              <p style="display: inline">Already have an account? </p>
              <form id="nav-to-login" style="display: inline" action="http://localhost:8080/login">
                <input type="submit" value="Log In"></input>
              </form>
            </div>
          </div>
        </section>
      </main>
    </body>
  </html>