.login-container, .signup-container {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  width: '100%';
  margin-top: 80px;
}

.login-div, .signup-div {
  text-align: center;
  width: 55vw;
  border: 1px solid black;
  background-color: white;
  padding: 5px 10px 5px 10px;
}
form {
  width: 100%;
}

form#login-form, form#signup-form {
  align-items: flex-start;
  text-align: left;
}

form .login-field, form .signup-field {
  width: inherit;
  padding-left: 5px;
  height: 1.75em;
}

form span {
  margin-top: 15px;
  float: right;
}

%all-buttons {
  min-width: 70px;
  height: 30px;
  margin-bottom: 5px;
}

.button-to-login, .button-to-signup {
  @extend %all-buttons;
  display: inline;
}

form .signup-form-button, form .login-form-button {
  @extend %all-buttons;
  margin-top: 15px;
}
