.new-tweet-container {
    display: initial;
}

.new-tweet {
    display: inline-block;
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 158px;
    border: solid 0.5px;
    margin: 0px auto;
    /* Moves the container down from the header */
    padding: 10px;
    /* Creates padding inside of the container */
}

.new-tweet h2 {
   margin-top: 10px;
   /* Moves the "Compose Tweet" text down from the top */
   margin-bottom: 2px;
   /* Removes space between "Compose Tweet" and the solid line */
}

.new-tweet .textarea {
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
}

.tweet-button:hover {
    background-color: #418ff4;
}

.counter {
    float: right;
    position: relative;
    bottom: 10px;
    background-color: rgb(236, 236, 236);
}
.error-container {
    display: none;
}

.error {
    display: inline-block;
    text-align: center;
    opacity: 1;
    overflow: visible;
    width: 400px;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    background-color: red;
    padding-top: 12px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-left: -10px;
    h2 {
        font-weight: bold;
        opacity: 1;
        margin-top: -5px;
    }
    p {
        opacity: 1;
    }
    button {
        border-radius: 10px;
        width: 70px;
    }
    
}