#nav-bar {
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #00a087;
    color: #e8fdff;
    height: 80px;
    width: 100%;
}

.logo {
    width: 3em;
    height: 3em;
}

#nav-bar-header {
    display: inline-flex;
    align-items: center; 
}

#nav-bar-buttons {
    display: inline-flex;
    align-items: center; 
}

.header {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.2em;
}

.compose-button {
    height: 35px;
    width: 120px;
    font-size: 24px;
    background-color: white;
    color: #00a087;
    border: 1px solid black;
}

.signup-button, .login-button, .logout-button {
    display: inline-block;
    width: 64px;
    font-size: 1em;
    background-color: #00a087;
    color: white;
    border: none;
    opacity: 0.8;
}

.login-button:hover, .signup-button:hover, .logout-button:hover {
    opacity: 1;
}

.login-button:focus, .signup-button:focus, .logout-button:focus {
    outline: 0;
}

.compose-button:hover {
    border: 2px black solid;
}


/* .compose-button .logo { */
    /* to fill out later */
/* } */