.all-tweets {
    margin-top: 20px;
}

.tweet {
    opacity: 0.4;
    background-color: rgb(236, 236, 236);
    width: 100%;
    margin-bottom:5px;
    overflow: hidden;
    border: solid 1px;
    border-radius: 10px;
    header {
        display: inline-flex;
        justify-content: space-between;
        background-color: lightblue;
        padding: 0.5em;
        width: 100%;
        .header-right {
            display: inline-flex;
            align-items: center;
        }
        .header-left {
            display: inline-flex;
            align-items: center;
            .header-name {
                font-size: 1.5em;
            }
        }
        .avatar {
            height: 60px;
            width: 60px;
            border-radius: 5px;
            margin-right: 0.5em;
        }
    }
    .content {
        position: relative;
        background-color: white;
        min-height: 80px;
        width: 100%;
        padding: 10px;
        margin: 0px;
        overflow-wrap: break-word;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.1em 0.1em 0.1em 0.5em;
        width: 100%;
        border-top: solid 0.5px;
        height: inherit;
        div.icons {
            display: none;
            align-items: center;
            padding-right: 6px;
            p.likes-count {
                position: relative;
                top: 2px;
            }
            .fa-flag, .fa-thumbs-up, .fa-retweet {
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    }
}

.tweet:hover {
    opacity: 1;
    div.icons {
        display: flex;
    }
}