.all-tweets {
    margin-top: 20px;
}

.tweet {
    opacity: 0.4;
    background-color: rgb(236, 236, 236);
    width: 400px;
    margin-bottom:5px;
    overflow: hidden;
    height: 210px;
    border: solid 1px;
    border-radius: 10px;
    header {
        display: inline-block;
        background-color: lightblue;
        padding: 12px;
        height: 45%;
        width: 100%;
        .avatar {
            display: inline-block;
            height: 60px;
            width: 60px;
            border-radius: 5px;
        }
        h2 {
            display: inline-block; 
            position: relative;
            bottom: 40px;
            margin-left: 8px;
        }
        .handle {
            float: right;
            margin: 0px;
        }
    }
    .content {
        position: relative;
        background-color: white;
        height: 35%;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0px;
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        width: 100%;
        padding-left: 10px;
        border-top: solid 0.5px;
        div.icons {
            display: none;
            align-items: center;
            padding-right: 6px;
            p.likes-count {
                position: relative;
                top: 2px;
            }
            .fa-flag, .fa-thumbs-up, .fa-retweet {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}

.tweet:hover {
    opacity: 1;
    div.icons {
        display: flex;
    }
}